/* ---------------------------------------------------------------------------------------------------------------------------------*/

.nav-bar-small {
  display: flex;
  font-family: ibm-plex-sans,sans-serif;
  font-size: 11px;  
  padding-left: 30px;
  font-weight: 800;
  color: rgb(136, 136, 136);
 }

.nav-bar-small a {
  text-decoration: none;  
  color: rgb(17, 17, 17);
}


.home, .contact-us, .symbol {
   padding-right: 5px;
 
}
/* ---------------------------------------------------------------------------------------------------------------------------------*/


input[type=text], select, textarea {
  width: 100%;
  padding: 8px;
  border: 2px solid rgb(177, 175, 175); 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {  
  background-color:rgb(32, 154, 154);
  color: white;
  font-family: ibm-plex-sans,sans-serif;  
  font-size: 11px;
  font-weight: 600;
  width: 100%; 
  padding: 10px 10px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:rgb(29, 139, 139);
}

.container-contact-us {
  font-family: ibm-plex-sans,sans-serif; 
  color: rgb(131, 131, 131);
  font-size: 11px;
  font-weight: 600;
  padding: 20px;
  margin: 70px 32%;
}
/* ---------------------------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 600px) {
  
  .container-contact-us {  
    margin: 10px 12%;
  }
}
